# EditorConfig - root. https://aka.ms/editorconfigdocs
root = true

# ---------- All files ----------
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,jsonc,yml,yaml,md,cjs,mjs,ts,tsx,js,jsx}]
indent_size = 2

[*.{csproj,props,targets,slnx}]
indent_size = 2
